.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px; /* Adjust as needed */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px; /* Adjust as needed */
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 200%;
  margin-left: -100px; /* Half of tooltip width */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
